/**
 * @file
 * Styling for HFC Portal Facuty and Staff section.
 */


.sidebar ul.hfc-news-items li,
.sidebar div.hfcc-news-items li,
.sidebar ul.upcoming-events-list li.event-item,
.sidebar .view li {
  margin: 0.5em 0;
  list-style-type: none;
}

.sidebar .block:nth-child(1) {
  border-top: none;
  padding-top: 0;
}

.sidebar .block {
  border-top: solid 1px #ccc;
  padding: 1em 0;
}

.sidebar .bean-news-block,
.sidebar .hfc-news-items {
  font-weight: bold;
}

.sidebar .field-name-field-more-link {
  font-weight: normal;
}

.sidebar ul.upcoming-events-list span.event-date {
  background-color: #005daa;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  padding: 2px 3px;
}

/* views is so dumb! */
.sidebar .view ul.upcoming-events-list span.event-date{
  margin-right: 3px;
  padding: 2px 0 2px 3px;
}

/* Added by micah 10-30-2014 */

.page-node-99 .tabs {
  margin: 1.25em 0;
}

div#block-menu-menu-faculty-and-staff-page-top div.content ul.menu {
  margin: 0;
  padding: 0;
  text-align: center;
}

#block-menu-menu-faculty-and-staff-page-top ul.menu > li {
  display: inline;
  margin: 0;
  padding: 0 2px;
}

#block-menu-menu-faculty-and-staff-page-top ul.menu > li > a {
  background: #eee;
  border-radius: 0.2em;
  box-shadow: 1px 1px 2px #777777;
  display: inline-block;
  margin: 0 0 0.5em;
  min-width: 5em;
  padding: 0 4px;
  text-align: center;
}

/* Group Landing Pages styles */

#block-views-employee-list-block-1 h2,
#block-views-resources-block-2 h2 {
  font-size: 1.6em;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin: 0 0 0.7680em;
  line-height: 1.5360 em;
  padding-top: .5em;
}

/* Employee Roster */

#block-views-employee-list-block-1 .views-row + .views-row {
  margin-top: 0;
}

#block-views-employee-list-block-1 .title {
  font-size: 1.2em;
}

#block-views-employee-list-block-1 .views-row {
  padding: .9em;
}

@media only screen and (min-width: 420px) {
  #block-views-employee-list-block-1 .views-row {
    flex: 1 0 50%;
    width: 50%;
  }
}

@media only screen and (min-width: 620px) {
  #block-views-employee-list-block-1 .views-row {
    flex: 1 0 33%;
    width: 33%;
  }
}

@media only screen and (min-width: 768px) {
  .sidebar-second #content-inner {
    margin-right: 27%;
  }

  .sidebar-second #sidebar-second {
    width: 27%;
  }

  .region-sidebar-first, .region-sidebar-second {
    padding: 0.4em;
  }

  #sidebar-second h2, #sidebar-first h2 {
    border-bottom: none;
    padding: 0;
  }

}

@media only screen and (min-width: 960px) {
  .sidebar-second #content-inner {
    margin-right: 30%;
  }

  .sidebar-second #sidebar-second {
    width: 30%;
  }

  .region-sidebar-first, .region-sidebar-second {
    padding: 0.7em;
  }

  #block-menu-menu-faculty-and-staff-page-top ul.menu > li {
    padding: 0 0.5em 0 0;
  }

  #block-menu-menu-faculty-and-staff-page-top ul.menu > li > a {
    background: #eee;
    border-radius: 0.5em;
    box-shadow: 1px 1px 2px #777777;
    display: inline-block;
    margin: 0 0 0.5em;
    min-width: 5em;
    padding: 0.5em;
    text-align: center;
  }

}
