/**
 * @file
 * Styling for HFC Portal front page.
 */

.front #page-title {
  display: none;
}

.front #content-inner {
  padding: 0;
}

.front #content-inner .region-content {
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 0.5em;
}


.front #content-inner .block {
  background-color: #ececec;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  padding: 0 1em;
  margin: 0 1em 1em;
  width: 100%;
}

.front #content-inner .block-bean h2, .block-menu h2 {
  border-bottom: solid 1px #CCC;
  background: none;
  color: #444444;
  font-size: 1.6em;
}

.front #content-inner .block-bean h2, .block-menu ul {
  margin: 0 0 1.5em;
}

@media only screen and (min-width: 480px) {

  .front #content-inner .block {
    margin: 0 0.9% 1em;
    width: 48%;
  }

}

@media only screen and (min-width: 960px) {

  .front #content-inner .block {
    margin: 0 0.9% 1em;
    width: 30%;
  }

}
