/**
 * @file
 * Styling for HFC Portal.
 */

/** Page **/

.region-billboard,
#section-main,
.header-container,
.region-fatfooter,
.region-footer,
.region-navigation {
  margin: 0 auto;
  width: 100%;
}

#section-main {
  margin-bottom: 1.2em;
}

.front #content-inner h1 {
  display: none;
}

.field-items li,
.field-items p,
.field-items ol {
  font-size: 1em;
}

/* lists */
.tabs ul { /* reset margin on admin tabs */
  margin-left: 0 !important;
}
.field-items ol,
.field-items ul { /* indent list items */
  margin-left: 1em;
}

/* views listing */
.views-row + .views-row {
  margin-top: 1em;
}

/* flag bad content */
.correct {
  background-color: red;
  color: white;
  padding: 3px 30px
}

/** First sidebar only **/

/* secondary navigation */


#sidebar-first .menu .collapsed a,
#sidebar-first .menu a { /* inactive */
  color: #0054a6 !important;
}

#sidebar-first .menu .active,
#sidebar-first .menu .menu .active { /* active */
  color: #222 !important;
  font-weight: bold !important;
}

#sidebar-first .menu .expanded a { /* inactive */
  color: #0054a6 !important;
  font-weight: normal !important;
}

#sidebar-first .expanded .menu .active { /* active */
  color: #222 !important;
  font-weight: bold !important;
}

#sidebar-first .menu {
  margin-top: 1em;
}

#sidebar-first .menu .menu { /* expanded, base styles */
  font-size: 0.85em;
  margin: .3em 0 0;
}

#sidebar-first .menu .collapsed,
#sidebar-first .menu .expanded {
  list-style-image: none;
  list-style-type: none;
}

#sidebar-first .leaf,
#sidebar-first .collapsed {
  padding: 0 0.3125em 0.6125em 0;
}

#sidebar-first ul,
#sidebar-second ul{
  margin: 0;
}

/** Block **/

/* see https://dvc.hfcc.net/webadmin/issues/issue1197#comment-5673 */
div.workbench-info-block {
  background: #DFD;
  border-color: #ACA;
}

.workbench-info-block .label {
  font-weight: bold;
}

#content .bean-heading {
  float: right;
  padding-right: 1em;
}

#sidebar-second,
#sidebar-first {
  background-color: #fafafa;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  font-size: small;
  margin-bottom: 1em;
  text-align: center;
}

#sidebar-second h2:nth-child(1),
#sidebar-first h2:nth-child(1) {
  border-top: none;
}

#sidebar-second h2,
#sidebar-first h2 {
  /*background-color: #D6E3EC;*/
  border-bottom: solid 1px #CCC;
  border-top: solid 1px #CCC;
  font-size: 1.5em;
  padding: 0 0.2em;
}

#sidebar-second p,
#sidebar-first p {
  padding: 0 0.2em;
}

#sidebar-second ul.menu,
#sidebar-first ul.menu {
  text-align: center;
}

/** Views **/

.view-cpi-team-reports .views-field-field-cpi-team-photo {
  float: left;
  margin: 0 1em 0 0;
}

.view-cpi-team-reports .views-field-field-cpi-team-photo > img {
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px #AAAAAA;
  display: block;
  max-width: 275px;
  padding: 4px;
}

.view-committee-meetings .views-field-field-agenda a,
.view-committee-meetings .views-field-field-minutes a {
  background-color: rgba(0, 84, 166, 0.2);
  border: 3px solid #0054a6;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #aaa;
  color: #444;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0.25em 1em;
  padding: 0.2em 1em;
  text-decoration: none;
}

/** Node **/

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
  margin: 0 0.51216389244558%;
  padding: 0 0.5em;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item h2 {
  border-bottom: 1px solid #CCC;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item > div {
  padding: 0;
}

@media only screen and (min-width: 480px) {

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }

}

@media only screen and (min-width: 768px) {

  #sidebar-second,
  #sidebar-first {
    text-align: left;
  }

  #sidebar-second ul.menu,
  #sidebar-first ul.menu {
    text-align: left;
  }

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    width: 32%;
  }

}

/** This Week nodes and highlights page **/

.node-type-thisweek .region-content {
  margin: 0 auto;
  max-width: 600px;
}

.node-type-thisweek .field-item {
  margin: 0 0 2em;
}

.node-type-thisweek .hero-image {
  text-align: center;
}

.node-type-thisweek .hero-image img {
  margin: 0 0 1.538em;
  max-width: 100%;
}

.node-type-thisweek .article-image {
  display: block;
  margin: 0.3125em auto;
  text-align: center;
}

.node-type-thisweek .article-image img {
  border: 1px solid #CDCDCD;
  max-width: 100%;
  padding: 4px;
}

.node-type-thisweek ul.upcoming-events-list {
  list-style-type: none;
  padding: 0;
}

.node-type-thisweek .upcoming-events-list li {
  list-style-type: none;
  margin: 0 0 0.75em;
}

.node-type-thisweek .upcoming-events-list .event-date {
  clear: left;
  float: left;
  text-align: right;
  width: 5em;
}

.node-type-thisweek .upcoming-events-list .event-title {
  display: block;
  margin-left: 5.846em;
}

@media only screen and (min-width: 1024px) {

  #page {
    margin: 0;
  }

  .node-type-thisweek .article-image {
    display: inline;
    float: left;
    margin: 0.3125em 0.5em 0.3125em 0;
  }

  .node-type-thisweek .article-image img {
    max-width: 216px;
  }


}
