/**
 * @file
 * Contains css for This Week @HFCC Email newsletter.
 */

/** HTML5 display definitions **/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block;
}

html {
  height: 100%;
  font-size: 81.25%;
  overflow-y: scroll; /* Force a scrollbar in non-IE */
  -webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust on orientation change without disabling user zoom */
  -ms-text-size-adjust: 100%;
}

body {
  background-color: #DEE0E2;
  margin: 0 auto;
  min-height: 100%;
}

/* Fonts settings based on the 100E2R standard: http://www.informationarchitects.jp/en/100e2r/ */
body, button, caption, fieldset, input, legend, option, select, textarea, td, th {
  color: #222; /* Full black on white is too much contrast, #222 is a better default */
  font: 1em/1.538 Lucida Grande, Lucida Sans Unicode, Helvetica, Arial, sans-serif;
}

/* Headings - sizes are set in media query section below */
/* For info on transitioning, see http://elliotjaystocks.com/blog/css-transitions-media-queries */

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: bold;
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}

/* http://modularscale.com/scale/?px1=13&px2=13&ra1=1.125&ra2=0 */
/* Font size = 13px (81.25%), line height = 20px (1.538em), interval = major second (1:1.125) */

h1 {
  font-size: 1.602em; /* 20.824px */
  line-height: 1.0em; /* break the rhythm. Just a little. */
  margin: 0 0 0.5em;
}

h2 {
  font-size: 1.424em; /* 18.510px */
  line-height: 1.080em;
  margin: 0 0 1.080em;
}

h3 {
  font-size: 1.266em; /* 16.453px */
  line-height: 1.367em;
  margin: 0 0 1.367em;
}

h4 {
  font-size: 1.125em; /* 14.625px */
  line-height: 1.282em;
  margin: 0;
}

h5 {
}

h6 {
}

small {
  font-size: 0.889em; /* 11.557px */
  line-height: 1.7306em;
  margin: 0 0 1.7306em;
}

/* Add and/or remove tags as your baseline grid needs */
p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, h5, h6, figure, figcaption, button, hr {
  margin: 0 0 1.538em;
}

/** Links **/

/* When declaring Link states, remember: LoVe HA : Link | Hover | Visited | Active */

a:link {
  color: #0054a6;
}

a:visited {
  color: #0054a6;
}

a:hover {
  color: #ed5338;
}

a:focus {
  color: #ed5338;
}

/** Newsletter styling **/

#page {
  background-color: #FFF;
  border: 1px solid #CCC;
  margin: 0 0.5em;
  padding: 0 0.5em 15px;
}

#page-header {
  margin: 0 auto;
  max-width: 600px;
  padding: 10px 0;
}

#page-header img {
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #005DAA
}

#page-header h1#page-title {
  background-color: #FFF;
  color: #0054a6;
  margin: 0;
  padding: 0.4em 0;
}

#page-header p {
  margin: 0;
  padding: 0 0 0.4em;
}

#page-header p.publication-date {
  font-size: 1.125em; /* 14.625px */
  font-weight: bold;
  line-height: 1.282em;
}

.region-content {
  margin: 0 auto;
  max-width: 600px;
}

.section-header {
  border-bottom: 1px solid #ccc;
}

.section-header:after {
  background-color: #0054A6;
  content: "";
  display: block;
  height: 7px;
  margin: 1rem 0 0 0;
  width: 70px;
}

.featured-items {
  background-color: #DEE0E2;
  border-bottom: 7px solid #0054a6;
  margin: 0 0 2em;
  padding: 25px;
}

.field-item {
  margin: 0 0 2em;
}

.article-image {
  border: 1px solid #CDCDCD;
  display: block;
  margin: 0.3125em auto;
  padding: 4px 4px 0;
  text-align: center;
}

.article-image img {
  max-width: 100%;;
}

.more-link {
  margin: 0 0 2em;
}

.previous-news-list .item-date,
.upcoming-events-list .event-date {
  text-align: right;
  vertical-align: top;
  width: 5em;
}

.previous-news-list .item-title,
.upcoming-events-list .event-title {
  padding-left: 0.5em;
  vertical-align: top;
}

.hfc-button {
  background-color: #002D5B;
  border: 2px solid rgba(0,0,0,0);
  color: #FFF !important;
  display: inline-block;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
  line-height: 2em;
  margin: 0.4em 0;
  padding: 0 0.8em;
  text-decoration: none;
}

.hfc-button:hover,
.hfc-button:focus {
  background-color: #FFF;
  border: 2px solid #002D5B !important;
  color: #002D5B !important;
  text-decoration: none;
}

.disclaimer-message {
  background: none repeat scroll 0 0 #DEE0E2;
  margin: 0;
  padding: 1em 1.2em;
}

@media only screen and (min-width: 470px) {
  #page {
    margin: 0 1em;
  }

  .article-image {
    display: inline;
    float: left;
    margin: 0.3125em 0.625em 0.3125em 0;
  }

  .article-image img {
    max-width: 150px;
  }

  .featured-items .article-image img {
    max-width: 275px;
  }
}
